*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #645f48;
  font-family:"Arial", sans-serif;
}
.container-form{
  position:relative;
  background: #ffffff;
  display: flex;
  width: 300px;
  height: 190px;
  margin: auto;
  padding:20px;
  margin-top:100px;
  border: none;
}
.container-form__title{

  position:absolute;
  top:5px;
}
.form{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
}
.form__group-input{
  display: flex;
  flex-direction: column;
}
.form__input{
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  margin-bottom: 4px;
  padding-left: 5px;
  font-size: 16px;
}
.form__input-type-error{
  border-bottom:1px solid red;
}
.form__input-error{
  color:red;
  font-size: 10px;
  margin-bottom: 4px;

}
.form__submit{
  width: 100px;
  background-color:#FFDB4D;
  border: none;
  border-radius: 3px;
  padding: 10px 0px;
  cursor:pointer;
}
.form__button-disabled{
  background: #ececeb;
  pointer-events: none;
}